/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMON */
html {
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

h1 {
    text-align: center;
    padding: 1em;
    color: #E53170;
}

h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
}

body {
    background-color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* UTILITIES */
.col {
    width: calc(80% / 3);
    float: left;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */
/* Columns section */
.column-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.column-section img {
    height: 100px;
}

/* PROFILE BOXES */
.profile {
    background-color: #0f0e17;
    margin: 5px;
    display: inline-block;
    text-align: left;
}

.profile img{
    float: left;
}

.name,.job {
    color: white;
}

.name {
    font-size: 1.2rem;
}

.job {
    font-size: 1rem;
    font-weight: 300;
}

.email {
    color: #1DA9E4;
    font-size: 1rem;
}

.col p{
    margin-left: 120px;
    margin-top: 5px;
    margin-bottom: 10px;
}